:root {
	--font-family: "DM Sans", sans-serif;
	--second-family: "Rubik", sans-serif;
	--third-family: "Roboto", sans-serif;

	--bg: #111827;
	--btn-bg: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
	--hover-color: rgb(140, 252, 218);
	--btn-welcome: #f9fafb;
	--gradient: linear-gradient(88deg, #2563eb 0%, #d946ef 100%);
}