.header {
    margin-top: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        gap: 8rem;
        align-items: center;
        transition: .3s all ease-in-out;
        
        &:hover {
            color: var(--hover-color);
            transform: scale(1.1);
        }
    }

    &__logo-title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 20rem;
       
    }

    &__list {
        display: flex;
        gap: 60rem;
        align-items: center;

        @include mobile {
            position: fixed;
            width: 70%;
            height: 100%;
            top: 0;
            left: -100%;
            background-color: rgba(19, 20, 54, 0.96);
            overflow: auto;
            display: flex;
            gap: 50rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 2;
            transition: .3s all ease-in-out;

            &.active {
                left: 0;
            }
        }
    }

    &__item {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14rem;
        color: var(--btn-welcome);
        transition: .3s all ease-in-out;
        
        &:hover {
            color: var(--hover-color);
        }

        &.btn {
            border-radius: 5rem;
            padding: 12rem 28rem;
        }

        @include mobile {
            font-size: 26rem;
        }
    }
}

.burger-close {
    position: fixed;
    width: 70%;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: right;
    padding-top: 30rem;
    padding-right: 30rem;
    z-index: 2;
    color: var(--btn-bg);
    transition: .3s all ease-in-out;

    &.active {
        left: 0;
    }
}

.burger-close-item {
    font-size: 50rem;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.burger-open {
    display: none;

    @include mobile {
        display: inline-block;
        font-size: 50rem;
        background: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50rem;
    }
}

.burger-close-outside {
    position: fixed;
    width: 30%;
    height: 100%;
    top: 0;
    right: -100%;

    &.active {
        right: 0;
    }
}